<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501679427573-kiv68aoih1hikg3qoqr93va0mgdbha59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501679427573-kiv68aoih1hikg3qoqr93va0mgdbha59</string>
	<key>API_KEY</key>
	<string>AIzaSyAXAadB1eNlHgpTBMpkI7d0u5Urw6_f7Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>501679427573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinnerAssistantFlutter</string>
	<key>PROJECT_ID</key>
	<string>dinner-assistant-84b29</string>
	<key>STORAGE_BUCKET</key>
	<string>dinner-assistant-84b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501679427573:ios:58f09bb0b4a1cf9d0b5abc</string>
</dict>
</plist>